<ol class="post-list">
  {{#each posts}}
  <li>
    <article class="post">
      <div class="title">
        <a href="/post/{{id}}">{{title}}</a>
        <span>Posted by {{user.username}} on {{format_date created_at}}
      </div>
      <div class="content">
        <p>{{content_text}}</p>
      </div>
      </article>
    </li>
  {{/each}}
</ol>
